.fotoReservas {
    background-image: url(../assets/img/fotoReservas.jpeg);
    padding: 15% 25% 35% 2%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  