.fotoReservas {
    background-image: url(../assets/img/fotoReservas.jpeg);
    padding: 5% 25% 35% 5%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

.hola {
  padding-top: 10%;
}

.pb {
padding-bottom: 10%;
}

.custom-textarea {
  background-color: red; /* Cambia este valor al color gris claro deseado */
}


.form-label {
  
}


.card-img-overlay {
  background: rgba(0, 0, 0, 0); 
  opacity: 0;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
}

.card:hover .card-img-overlay {
  background: rgba(0, 0, 0, 0.8); 
  opacity: 1;
}

.separador {
  color: olive;
  width: 100%;
  height: 100%;
 
}