.botnmio {
  background-color: black !important;
  position: fixed;
  top: 10;
  right: 0;
  transform: translate(-50%, 0);
}

.iconoboton {
  position: absolute;
  font-size: 60px;
  padding: 5px;
  bottom: 0;
  right: 20px;
  color: white !important;
}

.opciones {
  bottom: 0;
}

.cd__main {
  display: block !important;
}

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.fab-container:hover {
  height: 100%;
}

.fab-container:hover .sub-button:nth-child(2) {
  transform: translateY(-80px);
}

.fab-container:hover .sub-button:nth-child(3) {
  transform: translateY(-140px);
}

.fab-container:hover .sub-button:nth-child(4) {
  transform: translateY(-200px);
}

.fab-container:hover .sub-button:nth-child(5) {
  transform: translateY(-260px);
}

.fab-container:hover .sub-button:nth-child(6) {
  transform: translateY(-320px);
}

.fab-container .fab {
  position: relative;
  height: 70px;
  width: 70px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
}

.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 35px;
  width: 35px;
  background-color: inherit;
  border-radius: 0 0 10px 0;
  z-index: -1;
}

.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.fab-container .fab .fab-content .material-icons {
  color: white;
  font-size: 48px;
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.fab-container .sub-button:hover {
  cursor: pointer;
}

.fab-container .sub-button .material-icons {
  color: white;
  padding-top: 6px;
}

.banner2 {

  padding: 2% 35% 45% 2%;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
}

.logoazul {
  background-color: #FF9E1B;
}


.nosencuentras {
  background-color: black
}

.separador {
  color: black;
  width: 100%;
  height: 100%;
}

.container2 {
  padding: 2% 35% 45% 2%;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
}

.container2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.pollobrasa {
  background-image: url(../assets/img/pollobrasa.jpg);
  padding: 2% 35% 45% 2%;
  position: relative;
  background-repeat: no-repeat;

}

.postresuno {
  background-image: url(../assets/img/postresuno.jpg);
  padding: 10% 25%; 
  position: relative;
  background-size: cover;
}

.postresdos {
  background-image: url(../assets/img/postresdos.jpg);
  position: relative;
  padding: 10% 25%; 
  background-size: cover;
}

.postrestres {
  background-image: url(../assets/img/postrestres.jpg);
  position: relative;
  padding: 10% 25%; 
  background-size: cover;
}

.postrescuatro {
  background-image: url(../assets/img/postrescuatro.jpg);
  position: relative;
  padding: 10% 25%; 
  background-size: cover;
}


.primerfondo {
  background-image: url(../../src/assets/img/pruebaunoi.jpg);
  padding: 2% 35% 45% 2%;
  position: relative;
}

.with-text::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.with-text p {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white; 
  text-align:left;
  z-index: 1;
  font-size: 60px;
  opacity: 80%;
}

.separadorimagenes {
  border-bottom: 0.5px solid white; 
  margin-top: 1px; 
  
}

.diezanos {
  background-image: url(../../src/assets/img/10anos.jpg);
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  width: 50%; 
  height: 100vh;
}


.contenedorvideo {
    width: 100%; 
    height: 100%; 
    background-color:black;
  }

  .midiv {
    width: 100%; 
    width: 50%; 
  }

  .textocreacion{
    color:olive;
    font-size: 16px;
    text-align:end;
    padding: 15%;
    z-index: 1;
    background-attachment: fixed;
  }

  .polloperu{
    color:olive;
    font-size: 24px;  
    padding:5%;
   
  }

  .linea-decorativa {
    border-bottom: 5px dashed olive;
    width:700px;
    margin: 0 auto; 
    margin-bottom: 20px;
  }


   

  
  




  

