.banner{
    background-image: url("../assets/img/banner1.jpg");
    padding: 2% 35% 45% 2%;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}
.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.botnmio {
  background-color: #0F4A8E !important;
  position: fixed; 
  top: 10; 
  right: 0; 
  transform: translate(-50%, 0); 
}


.banner1{
    background-image: url(../assets/img/juntos.png);
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
}

.iconoboton{
    position: absolute;
    font-size: 60px;
    padding: 5px;
    bottom: 0;
    right: 20px;
    color: white!important; 
}

.opciones{
    bottom: 0;
}

.cd__main{
    display: block !important;
 }
 
 .fab-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   user-select: none;
   position: absolute;
   bottom: 30px;
   right: 30px;
 }
 .fab-container:hover {
   height: 100%;
 }
 .fab-container:hover .sub-button:nth-child(2) {
   transform: translateY(-80px);
 }
 .fab-container:hover .sub-button:nth-child(3) {
   transform: translateY(-140px);
 }
 .fab-container:hover .sub-button:nth-child(4) {
   transform: translateY(-200px);
 }
 .fab-container:hover .sub-button:nth-child(5) {
   transform: translateY(-260px);
 }
 .fab-container:hover .sub-button:nth-child(6) {
   transform: translateY(-320px);
 }
 .fab-container .fab {
   position: relative;
   height: 70px;
   width: 70px;
   background-color:#0F4A8E;
   border-radius: 50%;
   z-index: 2;
 }
 .fab-container .fab::before {
   content: " ";
   position: absolute;
   bottom: 0;
   right: 0;
   height: 35px;
   width: 35px;
   background-color: inherit;
   border-radius: 0 0 10px 0;
   z-index: -1;
 }
 .fab-container .fab .fab-content {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   border-radius: 50%;
 }
 .fab-container .fab .fab-content .material-icons {
   color: white;
   font-size: 48px;
 }
 .fab-container .sub-button {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 10px;
   right: 10px;
   height: 50px;
   width: 50px;
   background-color:#0F4A8E ;
   border-radius: 50%;
   transition: all 0.3s ease;
 }
 .fab-container .sub-button:hover {
   cursor: pointer;
 }
 .fab-container .sub-button .material-icons {
   color: white;
   padding-top: 6px;
 }

 .banner2{

  padding: 2% 35% 45% 2%;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
}

.logoazul{
  background-color: #FF9E1B;
}


.nosencuentras{
  background-color: black
}
.foot{
  background-color: #0F4A8E
}
.banner4{
  background-image: url("../assets/img/banner4.jpg");
  padding: 2% 35% 45% 2%;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
}
.banner4::after{
  background-image: url("../assets/img/juntossomosperuanidad.png");
  content: '';
  position: absolute;
  top:20;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
 background-repeat: no-repeat;
}

.footer{
background-color: black;
color: white;
}

.separador{
 color: white;
 width: 100%;
 height: 100%;
  }
  
  .container2{
    padding: 2% 35% 45% 2%;
    position: relative;
    z-index: -1;
    background-attachment: fixed;
  }
  .container2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }

  .banner5 {
    background-image: url("../assets/img/banner5.jpg");
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100vh; 
    background-size: cover;
    background-attachment: fixed;
}

.banner5::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: black;
    opacity: 0.5;
    z-index: -1;
   
}

